/* ----------------------------------------
Sass Modules
---------------------------------------- */
/* ----------------------------------------
Base Styles
---------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  :before, :after {
    display: inline-block; }

html, body, body .scope-container {
  width: 100%;
  height: 100%; }

body .scope-container {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "ProximaNovaSoft", Calibri, "Gill Sans", "Gill Sans MT", Candara, Segoe, "Segoe UI", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: #f0f1f2;
  color: #7e7f80; }
  body .scope-container a {
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); }
    body .scope-container a img {
      outline: none; }
  body .scope-container img {
    max-width: 100%;
    height: auto; }
  body .scope-container .container {
    width: 960px;
    margin: 0 auto; }
  body .scope-container .clearfix:after {
    content: '';
    display: table;
    clear: both; }
  body .scope-container .ellipsis {
    text-overflow: ellipsis; }
  @media only screen and (max-width: 1024px) {
    body .scope-container .container {
      width: 100%;
      padding: 0 32px; } }

body .scope-container {
  /* ----------------------------------------
  Grid Styles
  ---------------------------------------- */
  /* ----------------------------------------
  Salesforce1 Styles
  ---------------------------------------- */
  /* ----------------------------------------
  App Styles
  ---------------------------------------- */
  /* ----------------------------------------
  Overrides
  ---------------------------------------- */ }
  body .scope-container .grid {
    margin-top: -10px;
    margin-bottom: -10px; }
  body .scope-container .row {
    margin-left: -10px;
    margin-right: -10px; }
  body .scope-container .column {
    display: block;
    width: 100%;
    float: left;
    padding: 10px; }
    body .scope-container .column.no-padding {
      padding: 0; }
    body .scope-container .column.twelfth {
      width: 8.333%; }
    body .scope-container .column.twelfth-x5 {
      width: 41.666%; }
    body .scope-container .column.twelfth-x7 {
      width: 58.333%; }
    body .scope-container .column.twelfth-x11 {
      width: 91.666%; }
    body .scope-container .column.eighth {
      width: 12.5%; }
    body .scope-container .column.eighth-x3 {
      width: 37.5%; }
    body .scope-container .column.eighth-x5 {
      width: 62.5%; }
    body .scope-container .column.eighth-x7 {
      width: 87.5%; }
    body .scope-container .column.sixth {
      width: 16.666%; }
    body .scope-container .column.sixth-x5 {
      width: 83.333%; }
    body .scope-container .column.fourth {
      width: 25%; }
    body .scope-container .column.fourth-x3 {
      width: 75%; }
    body .scope-container .column.third {
      width: 33.333%; }
    body .scope-container .column.third-x2 {
      width: 66.666%; }
    body .scope-container .column.half {
      width: 50%; }
    body .scope-container .column.margin-twelfth {
      margin-left: 8.333%; }
    body .scope-container .column.margin-twelfth-x5 {
      margin-left: 41.666%; }
    body .scope-container .column.margin-twelfth-x7 {
      margin-left: 58.333%; }
    body .scope-container .column.margin-twelfth-x11 {
      margin-left: 91.666%; }
    body .scope-container .column.margin-eighth {
      margin-left: 12.5%; }
    body .scope-container .column.margin-eighth-x3 {
      margin-left: 37.5%; }
    body .scope-container .column.margin-eighth-x5 {
      margin-left: 62.5%; }
    body .scope-container .column.margin-eighth-x7 {
      margin-left: 87.5%; }
    body .scope-container .column.margin-sixth {
      margin-left: 16.666%; }
    body .scope-container .column.margin-sixth-x5 {
      margin-left: 83.333%; }
    body .scope-container .column.margin-fourth {
      margin-left: 25%; }
    body .scope-container .column.margin-fourth-x3 {
      margin-left: 75%; }
    body .scope-container .column.margin-third {
      margin-left: 33.333%; }
    body .scope-container .column.margin-third-x2 {
      margin-left: 66.666%; }
    body .scope-container .column.margin-half {
      margin-left: 50%; }
    body .scope-container .column.float-right {
      float: right; }
      body .scope-container .column.float-right.margin-twelfth {
        margin-left: initial;
        margin-right: 8.333%; }
      body .scope-container .column.float-right.margin-twelfth-x5 {
        margin-left: initial;
        margin-right: 41.666%; }
      body .scope-container .column.float-right.margin-twelfth-x7 {
        margin-left: initial;
        margin-right: 58.333%; }
      body .scope-container .column.float-right.margin-twelfth-x11 {
        margin-left: initial;
        margin-right: 91.666%; }
      body .scope-container .column.float-right.margin-eighth {
        margin-left: initial;
        margin-right: 12.5%; }
      body .scope-container .column.float-right.margin-eighth-x3 {
        margin-left: initial;
        margin-right: 37.5%; }
      body .scope-container .column.float-right.margin-eighth-x5 {
        margin-left: initial;
        margin-right: 62.5%; }
      body .scope-container .column.float-right.margin-eighth-x7 {
        margin-left: initial;
        margin-right: 87.5%; }
      body .scope-container .column.float-right.margin-sixth {
        margin-left: initial;
        margin-right: 16.666%; }
      body .scope-container .column.float-right.margin-sixth-x5 {
        margin-left: initial;
        margin-right: 83.333%; }
      body .scope-container .column.float-right.margin-fourth {
        margin-left: initial;
        margin-right: 25%; }
      body .scope-container .column.float-right.margin-fourth-x3 {
        margin-left: initial;
        margin-right: 75%; }
      body .scope-container .column.float-right.margin-third {
        margin-left: initial;
        margin-right: 33.333%; }
      body .scope-container .column.float-right.margin-third-x2 {
        margin-left: initial;
        margin-right: 66.666%; }
      body .scope-container .column.float-right.margin-half {
        margin-left: initial;
        margin-right: 50%; }
  body .scope-container .margin-top {
    margin-top: 10px; }
  body .scope-container .margin-top-x2 {
    margin-top: 20px; }
  body .scope-container .margin-bottom {
    margin-bottom: 10px; }
  body .scope-container .margin-bottom-x2 {
    margin-bottom: 20px; }
  @media only screen and (max-width: 1024px) {
    body .scope-container .column.no-padding {
      padding: 10px; }
    body .scope-container .column.twelfth, body .scope-container .column.twelfth-x11, body .scope-container .column.twelfth-x7, body .scope-container .column.twelfth-x5, body .scope-container .column.eighth, body .scope-container .column.eighth-x7, body .scope-container .column.eighth-x5, body .scope-container .column.eighth-x3, body .scope-container .column.sixth, body .scope-container .column.sixth-x5, body .scope-container .column.fourth, body .scope-container .column.fourth-x3, body .scope-container .column.third, body .scope-container .column.third-x2, body .scope-container .column.half {
      width: 100%; }
    body .scope-container .column.no-padding-md {
      padding: 0; }
    body .scope-container .column.twelfth-md {
      width: 8.333%; }
    body .scope-container .column.twelfth-x5-md {
      width: 41.666%; }
    body .scope-container .column.twelfth-x7-md {
      width: 58.333%; }
    body .scope-container .column.twelfth-x11-md {
      width: 91.666%; }
    body .scope-container .column.eighth-md {
      width: 12.5%; }
    body .scope-container .column.eighth-x3-md {
      width: 37.5%; }
    body .scope-container .column.eighth-x5-md {
      width: 62.5%; }
    body .scope-container .column.eighth-x7-md {
      width: 87.5%; }
    body .scope-container .column.sixth-md {
      width: 16.666%; }
    body .scope-container .column.sixth-x5-md {
      width: 83.333%; }
    body .scope-container .column.fourth-md {
      width: 25%; }
    body .scope-container .column.fourth-x3-md {
      width: 75%; }
    body .scope-container .column.third-md {
      width: 33.333%; }
    body .scope-container .column.third-x2-md {
      width: 66.666%; }
    body .scope-container .column.half-md {
      width: 50%; }
    body .scope-container .column.margin-twelfth, body .scope-container .column.margin-twelfth-x5, body .scope-container .column.margin-twelfth-x7, body .scope-container .column.margin-twelfth-x11, body .scope-container .column.margin-eighth, body .scope-container .column.margin-eighth-x3, body .scope-container .column.margin-eighth-x5, body .scope-container .column.margin-eighth-x7, body .scope-container .column.margin-sixth, body .scope-container .column.margin-sixth-x5, body .scope-container .column.margin-fourth, body .scope-container .column.margin-fourth-x3, body .scope-container .column.margin-third, body .scope-container .column.margin-third-x2, body .scope-container .column.margin-half {
      margin-left: 0; }
    body .scope-container .column.margin-twelfth-md {
      margin-left: 8.333%; }
    body .scope-container .column.margin-twelfth-x5-md {
      margin-left: 41.666%; }
    body .scope-container .column.margin-twelfth-x7-md {
      margin-left: 58.333%; }
    body .scope-container .column.margin-twelfth-x11-md {
      margin-left: 91.666%; }
    body .scope-container .column.margin-eighth-md {
      margin-left: 12.5%; }
    body .scope-container .column.margin-eighth-x3-md {
      margin-left: 37.5%; }
    body .scope-container .column.margin-eighth-x5-md {
      margin-left: 62.5%; }
    body .scope-container .column.margin-eighth-x7-md {
      margin-left: 87.5%; }
    body .scope-container .column.margin-sixth-md {
      margin-left: 16.666%; }
    body .scope-container .column.margin-sixth-x5-md {
      margin-left: 83.333%; }
    body .scope-container .column.margin-fourth-md {
      margin-left: 25%; }
    body .scope-container .column.margin-fourth-x3-md {
      margin-left: 75%; }
    body .scope-container .column.margin-third-md {
      margin-left: 33.333%; }
    body .scope-container .column.margin-third-x2-md {
      margin-left: 66.666%; }
    body .scope-container .column.margin-half-md {
      margin-left: 50%; }
    body .scope-container .column.float-right.margin-twelfth, body .scope-container .column.float-right.margin-twelfth-x5, body .scope-container .column.float-right.margin-twelfth-x7, body .scope-container .column.float-right.margin-twelfth-x11, body .scope-container .column.float-right.margin-eighth, body .scope-container .column.float-right.margin-eighth-x3, body .scope-container .column.float-right.margin-eighth-x5, body .scope-container .column.float-right.margin-eighth-x7, body .scope-container .column.float-right.margin-sixth, body .scope-container .column.float-right.margin-sixth-x5, body .scope-container .column.float-right.margin-fourth, body .scope-container .column.float-right.margin-fourth-x3, body .scope-container .column.float-right.margin-third, body .scope-container .column.float-right.margin-third-x2, body .scope-container .column.float-right.margin-half {
      margin-right: 0; }
    body .scope-container .column.float-right.margin-twelfth-md {
      margin-left: 0;
      margin-right: 8.333%; }
    body .scope-container .column.float-right.margin-twelfth-x5-md {
      margin-left: 0;
      margin-right: 41.666%; }
    body .scope-container .column.float-right.margin-twelfth-x7-md {
      margin-left: 0;
      margin-right: 58.333%; }
    body .scope-container .column.float-right.margin-twelfth-x11-md {
      margin-left: 0;
      margin-right: 91.666%; }
    body .scope-container .column.float-right.margin-eighth-md {
      margin-left: 0;
      margin-right: 12.5%; }
    body .scope-container .column.float-right.margin-eighth-x3-md {
      margin-left: 0;
      margin-right: 37.5%; }
    body .scope-container .column.float-right.margin-eighth-x5-md {
      margin-left: 0;
      margin-right: 62.5%; }
    body .scope-container .column.float-right.margin-eighth-x7-md {
      margin-left: 0;
      margin-right: 87.5%; }
    body .scope-container .column.float-right.margin-sixth-md {
      margin-left: 0;
      margin-right: 16.666%; }
    body .scope-container .column.float-right.margin-sixth-x5-md {
      margin-left: 0;
      margin-right: 83.333%; }
    body .scope-container .column.float-right.margin-fourth-md {
      margin-left: 0;
      margin-right: 25%; }
    body .scope-container .column.float-right.margin-fourth-x3-md {
      margin-left: 0;
      margin-right: 75%; }
    body .scope-container .column.float-right.margin-third-md {
      margin-left: 0;
      margin-right: 33.333%; }
    body .scope-container .column.float-right.margin-third-x2-md {
      margin-left: 0;
      margin-right: 66.666%; }
    body .scope-container .column.float-right.margin-half-md {
      margin-left: 0;
      margin-right: 50%; }
    body .scope-container .margin-top {
      margin-top: 0; }
      body .scope-container .margin-top-md {
        margin-top: 20px; }
    body .scope-container .margin-top-x2 {
      margin-top: 0; }
      body .scope-container .margin-top-x2-md {
        margin-top: 20px; }
    body .scope-container .margin-bottom {
      margin-bottom: 0; }
      body .scope-container .margin-bottom-md {
        margin-bottom: 20px; }
    body .scope-container .margin-bottom-x2 {
      margin-bottom: 0; }
      body .scope-container .margin-bottom-x2-md {
        margin-bottom: 20px; } }
  @media only screen and (max-width: 768px) {
    body .scope-container .column.no-padding-md {
      padding: 10px; }
    body .scope-container .column.twelfth-md, body .scope-container .column.twelfth-x11-md, body .scope-container .column.twelfth-x7-md, body .scope-container .column.twelfth-x5-md, body .scope-container .column.eighth-md, body .scope-container .column.eighth-x7-md, body .scope-container .column.eighth-x5-md, body .scope-container .column.eighth-x3-md, body .scope-container .column.sixth-md, body .scope-container .column.sixth-x5-md, body .scope-container .column.fourth-md, body .scope-container .column.fourth-x3-md, body .scope-container .column.third-md, body .scope-container .column.third-x2-md, body .scope-container .column.half-md {
      width: 100%; }
    body .scope-container .column.no-padding-sm {
      padding: 0; }
    body .scope-container .column.twelfth-sm {
      width: 8.333%; }
    body .scope-container .column.twelfth-x5-sm {
      width: 41.666%; }
    body .scope-container .column.twelfth-x7-sm {
      width: 58.333%; }
    body .scope-container .column.twelfth-x11-sm {
      width: 91.666%; }
    body .scope-container .column.eighth-sm {
      width: 12.5%; }
    body .scope-container .column.eighth-x3-sm {
      width: 37.5%; }
    body .scope-container .column.eighth-x5-sm {
      width: 62.5%; }
    body .scope-container .column.eighth-x7-sm {
      width: 87.5%; }
    body .scope-container .column.sixth-sm {
      width: 16.666%; }
    body .scope-container .column.sixth-x5-sm {
      width: 83.333%; }
    body .scope-container .column.fourth-sm {
      width: 25%; }
    body .scope-container .column.fourth-x3-sm {
      width: 75%; }
    body .scope-container .column.third-sm {
      width: 33.333%; }
    body .scope-container .column.third-x2-sm {
      width: 66.666%; }
    body .scope-container .column.half-sm {
      width: 50%; }
    body .scope-container .column.margin-twelfth-md, body .scope-container .column.margin-twelfth-x5-md, body .scope-container .column.margin-twelfth-x7-md, body .scope-container .column.margin-twelfth-x11-md, body .scope-container .column.margin-eighth-md, body .scope-container .column.margin-eighth-x3-md, body .scope-container .column.margin-eighth-x5-md, body .scope-container .column.margin-eighth-x7-md, body .scope-container .column.margin-sixth-md, body .scope-container .column.margin-sixth-x5-md, body .scope-container .column.margin-fourth-md, body .scope-container .column.margin-fourth-x3-md, body .scope-container .column.margin-third-md, body .scope-container .column.margin-third-x2-md, body .scope-container .column.margin-half-md {
      margin-left: 0; }
    body .scope-container .column.margin-twelfth-sm {
      margin-left: 8.333%; }
    body .scope-container .column.margin-twelfth-x5-sm {
      margin-left: 41.666%; }
    body .scope-container .column.margin-twelfth-x7-sm {
      margin-left: 58.333%; }
    body .scope-container .column.margin-twelfth-x11-sm {
      margin-left: 91.666%; }
    body .scope-container .column.margin-eighth-sm {
      margin-left: 12.5%; }
    body .scope-container .column.margin-eighth-x3-sm {
      margin-left: 37.5%; }
    body .scope-container .column.margin-eighth-x5-sm {
      margin-left: 62.5%; }
    body .scope-container .column.margin-eighth-x7-sm {
      margin-left: 87.5%; }
    body .scope-container .column.margin-sixth-sm {
      margin-left: 16.666%; }
    body .scope-container .column.margin-sixth-x5-sm {
      margin-left: 83.333%; }
    body .scope-container .column.margin-fourth-sm {
      margin-left: 25%; }
    body .scope-container .column.margin-fourth-x3-sm {
      margin-left: 75%; }
    body .scope-container .column.margin-third-sm {
      margin-left: 33.333%; }
    body .scope-container .column.margin-third-x2-sm {
      margin-left: 66.666%; }
    body .scope-container .column.margin-half-sm {
      margin-left: 50%; }
    body .scope-container .column.float-right.margin-twelfth-md, body .scope-container .column.float-right.margin-twelfth-x5-md, body .scope-container .column.float-right.margin-twelfth-x7-md, body .scope-container .column.float-right.margin-twelfth-x11-md, body .scope-container .column.float-right.margin-eighth-md, body .scope-container .column.float-right.margin-eighth-x3-md, body .scope-container .column.float-right.margin-eighth-x5-md, body .scope-container .column.float-right.margin-eighth-x7-md, body .scope-container .column.float-right.margin-sixth-md, body .scope-container .column.float-right.margin-sixth-x5-md, body .scope-container .column.float-right.margin-fourth-md, body .scope-container .column.float-right.margin-fourth-x3-md, body .scope-container .column.float-right.margin-third-md, body .scope-container .column.float-right.margin-third-x2-md, body .scope-container .column.float-right.margin-half-md {
      margin-right: 0; }
    body .scope-container .column.float-right.margin-twelfth-sm {
      margin-left: 0;
      margin-right: 8.333%; }
    body .scope-container .column.float-right.margin-twelfth-x5-sm {
      margin-left: 0;
      margin-right: 41.666%; }
    body .scope-container .column.float-right.margin-twelfth-x7-sm {
      margin-left: 0;
      margin-right: 58.333%; }
    body .scope-container .column.float-right.margin-twelfth-x11-sm {
      margin-left: 0;
      margin-right: 91.666%; }
    body .scope-container .column.float-right.margin-eighth-sm {
      margin-left: 0;
      margin-right: 12.5%; }
    body .scope-container .column.float-right.margin-eighth-x3-sm {
      margin-left: 0;
      margin-right: 37.5%; }
    body .scope-container .column.float-right.margin-eighth-x5-sm {
      margin-left: 0;
      margin-right: 62.5%; }
    body .scope-container .column.float-right.margin-eighth-x7-sm {
      margin-left: 0;
      margin-right: 87.5%; }
    body .scope-container .column.float-right.margin-sixth-sm {
      margin-left: 0;
      margin-right: 16.666%; }
    body .scope-container .column.float-right.margin-sixth-x5-sm {
      margin-left: 0;
      margin-right: 83.333%; }
    body .scope-container .column.float-right.margin-fourth-sm {
      margin-left: 0;
      margin-right: 25%; }
    body .scope-container .column.float-right.margin-fourth-x3-sm {
      margin-left: 0;
      margin-right: 75%; }
    body .scope-container .column.float-right.margin-third-sm {
      margin-left: 0;
      margin-right: 33.333%; }
    body .scope-container .column.float-right.margin-third-x2-sm {
      margin-left: 0;
      margin-right: 66.666%; }
    body .scope-container .column.float-right.margin-half-sm {
      margin-left: 0;
      margin-right: 50%; }
    body .scope-container .margin-top-md {
      margin-top: 0; }
    body .scope-container .margin-top-sm {
      margin-top: 20px; }
    body .scope-container .margin-top-x2-md {
      margin-top: 0; }
    body .scope-container .margin-top-x2-sm {
      margin-top: 20px; }
    body .scope-container .margin-bottom-md {
      margin-bottom: 0; }
    body .scope-container .margin-bottom-sm {
      margin-bottom: 20px; }
    body .scope-container .margin-bottom-x2-md {
      margin-bottom: 0; }
    body .scope-container .margin-bottom-x2-sm {
      margin-bottom: 20px; } }
  @media only screen and (max-width: 480px) {
    body .scope-container .column.no-padding-sm {
      padding: 10px; }
    body .scope-container .column.twelfth-sm, body .scope-container .column.twelfth-x11-sm, body .scope-container .column.twelfth-x7-sm, body .scope-container .column.twelfth-x5-sm, body .scope-container .column.eighth-sm, body .scope-container .column.eighth-x7-sm, body .scope-container .column.eighth-x5-sm, body .scope-container .column.eighth-x3-sm, body .scope-container .column.sixth-sm, body .scope-container .column.sixth-x5-sm, body .scope-container .column.fourth-sm, body .scope-container .column.fourth-x3-sm, body .scope-container .column.third-sm, body .scope-container .column.third-x2-sm, body .scope-container .column.half-sm {
      width: 100%; }
    body .scope-container .column.no-padding-xs {
      padding: 0; }
    body .scope-container .column.twelfth-xs {
      width: 8.333%; }
    body .scope-container .column.twelfth-x5-xs {
      width: 41.666%; }
    body .scope-container .column.twelfth-x7-xs {
      width: 58.333%; }
    body .scope-container .column.twelfth-x11-xs {
      width: 91.666%; }
    body .scope-container .column.eighth-xs {
      width: 12.5%; }
    body .scope-container .column.eighth-x3-xs {
      width: 37.5%; }
    body .scope-container .column.eighth-x5-xs {
      width: 62.5%; }
    body .scope-container .column.eighth-x7-xs {
      width: 87.5%; }
    body .scope-container .column.sixth-xs {
      width: 16.666%; }
    body .scope-container .column.sixth-x5-xs {
      width: 83.333%; }
    body .scope-container .column.fourth-xs {
      width: 25%; }
    body .scope-container .column.fourth-x3-xs {
      width: 75%; }
    body .scope-container .column.third-xs {
      width: 33.333%; }
    body .scope-container .column.third-x2-xs {
      width: 66.666%; }
    body .scope-container .column.half-xs {
      width: 50%; }
    body .scope-container .column.margin-twelfth-sm, body .scope-container .column.margin-twelfth-x5-sm, body .scope-container .column.margin-twelfth-x7-sm, body .scope-container .column.margin-twelfth-x11-sm, body .scope-container .column.margin-eighth-sm, body .scope-container .column.margin-eighth-x3-sm, body .scope-container .column.margin-eighth-x5-sm, body .scope-container .column.margin-eighth-x7-sm, body .scope-container .column.margin-sixth-sm, body .scope-container .column.margin-sixth-x5-sm, body .scope-container .column.margin-fourth-sm, body .scope-container .column.margin-fourth-x3-sm, body .scope-container .column.margin-third-sm, body .scope-container .column.margin-third-x2-sm, body .scope-container .column.margin-half-sm {
      margin-left: 0; }
    body .scope-container .column.margin-twelfth-xs {
      margin-left: 8.333%; }
    body .scope-container .column.margin-twelfth-x5-xs {
      margin-left: 41.666%; }
    body .scope-container .column.margin-twelfth-x7-xs {
      margin-left: 58.333%; }
    body .scope-container .column.margin-twelfth-x11-xs {
      margin-left: 91.666%; }
    body .scope-container .column.margin-eighth-xs {
      margin-left: 12.5%; }
    body .scope-container .column.margin-eighth-x3-xs {
      margin-left: 37.5%; }
    body .scope-container .column.margin-eighth-x5-xs {
      margin-left: 62.5%; }
    body .scope-container .column.margin-eighth-x7-xs {
      margin-left: 87.5%; }
    body .scope-container .column.margin-sixth-xs {
      margin-left: 16.666%; }
    body .scope-container .column.margin-sixth-x5-xs {
      margin-left: 83.333%; }
    body .scope-container .column.margin-fourth-xs {
      margin-left: 25%; }
    body .scope-container .column.margin-fourth-x3-xs {
      margin-left: 75%; }
    body .scope-container .column.margin-third-xs {
      margin-left: 33.333%; }
    body .scope-container .column.margin-third-x2-xs {
      margin-left: 66.666%; }
    body .scope-container .column.margin-half-xs {
      margin-left: 50%; }
    body .scope-container .column.float-right.margin-twelfth-sm, body .scope-container .column.float-right.margin-twelfth-x5-sm, body .scope-container .column.float-right.margin-twelfth-x7-sm, body .scope-container .column.float-right.margin-twelfth-x11-sm, body .scope-container .column.float-right.margin-eighth-sm, body .scope-container .column.float-right.margin-eighth-x3-sm, body .scope-container .column.float-right.margin-eighth-x5-sm, body .scope-container .column.float-right.margin-eighth-x7-sm, body .scope-container .column.float-right.margin-sixth-sm, body .scope-container .column.float-right.margin-sixth-x5-sm, body .scope-container .column.float-right.margin-fourth-sm, body .scope-container .column.float-right.margin-fourth-x3-sm, body .scope-container .column.float-right.margin-third-sm, body .scope-container .column.float-right.margin-third-x2-sm, body .scope-container .column.float-right.margin-half-sm {
      margin-right: 0; }
    body .scope-container .column.float-right.margin-twelfth-xs {
      margin-left: 0;
      margin-right: 8.333%; }
    body .scope-container .column.float-right.margin-twelfth-x5-xs {
      margin-left: 0;
      margin-right: 41.666%; }
    body .scope-container .column.float-right.margin-twelfth-x7-xs {
      margin-left: 0;
      margin-right: 58.333%; }
    body .scope-container .column.float-right.margin-twelfth-x11-xs {
      margin-left: 0;
      margin-right: 91.666%; }
    body .scope-container .column.float-right.margin-eighth-xs {
      margin-left: 0;
      margin-right: 12.5%; }
    body .scope-container .column.float-right.margin-eighth-x3-xs {
      margin-left: 0;
      margin-right: 37.5%; }
    body .scope-container .column.float-right.margin-eighth-x5-xs {
      margin-left: 0;
      margin-right: 62.5%; }
    body .scope-container .column.float-right.margin-eighth-x7-xs {
      margin-left: 0;
      margin-right: 87.5%; }
    body .scope-container .column.float-right.margin-sixth-xs {
      margin-left: 0;
      margin-right: 16.666%; }
    body .scope-container .column.float-right.margin-sixth-x5-xs {
      margin-left: 0;
      margin-right: 83.333%; }
    body .scope-container .column.float-right.margin-fourth-xs {
      margin-left: 0;
      margin-right: 25%; }
    body .scope-container .column.float-right.margin-fourth-x3-xs {
      margin-left: 0;
      margin-right: 75%; }
    body .scope-container .column.float-right.margin-third-xs {
      margin-left: 0;
      margin-right: 33.333%; }
    body .scope-container .column.float-right.margin-third-x2-xs {
      margin-left: 0;
      margin-right: 66.666%; }
    body .scope-container .column.float-right.margin-half-xs {
      margin-left: 0;
      margin-right: 50%; }
    body .scope-container .margin-top-sm {
      margin-top: 0; }
    body .scope-container .margin-top-xs {
      margin-top: 20px; }
    body .scope-container .margin-top-x2-sm {
      margin-top: 0; }
    body .scope-container .margin-top-x2-xs {
      margin-top: 20px; }
    body .scope-container .margin-bottom-sm {
      margin-bottom: 0; }
    body .scope-container .margin-bottom-xs {
      margin-bottom: 20px; }
    body .scope-container .margin-bottom-x2-sm {
      margin-bottom: 0; }
    body .scope-container .margin-bottom-x2-xs {
      margin-bottom: 20px; } }
  body .scope-container h1, body .scope-container h2, body .scope-container h3, body .scope-container h4 {
    font-size: 24px;
    font-weight: 900;
    color: #fff; }
  body .scope-container h2, body .scope-container h3, body .scope-container h4 {
    font-weight: 700;
    color: #525354; }
  body .scope-container h3, body .scope-container h4 {
    font-size: 16px;
    color: #7e7f80; }
  body .scope-container h4 {
    font-size: 13px;
    text-transform: uppercase; }
  body .scope-container strong {
    font-weight: 900; }
  body .scope-container small {
    font-size: 80%;
    color: #7e7f80; }
  body .scope-container p + p, body .scope-container p + ul, body .scope-container p + ol {
    margin-top: 10px; }
  body .scope-container ul, body .scope-container ol {
    margin-left: 32px; }
    body .scope-container ul + p, body .scope-container ol + p {
      margin-top: 10px; }
  body .scope-container a, body .scope-container a:visited {
    color: #2a94d6;
    text-decoration: none; }
  body .scope-container .text-dark {
    color: #525354; }
  body .scope-container .text-light {
    color: #7e7f80; }
  body .scope-container .card {
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    border: 1px solid #dfe0e1;
    border-radius: 5px;
    background-color: #fff; }
    body .scope-container .card.active {
      border-color: #2a94d6; }
    body .scope-container .card > div {
      padding: 14px 18px; }
    body .scope-container .card .border-bottom {
      border-bottom: 1px solid #dfe0e1; }
    body .scope-container .card .grey {
      background-color: #f0f1f2; }
  body .scope-container button, body .scope-container .button {
    display: inline-block;
    border-radius: 5px;
    background-color: #2a94d6;
    color: #fff; }
    body .scope-container button.navy, body .scope-container .navy.button {
      background-color: #344a5f; }
    body .scope-container button.grey, body .scope-container .grey.button {
      background-color: #f0f1f2; }
    body .scope-container button.light-blue, body .scope-container .light-blue.button {
      background-color: #4eb1cb; }
    body .scope-container button.red, body .scope-container .red.button {
      background-color: #cf5c60; }
    body .scope-container button.purple, body .scope-container .purple.button {
      background-color: #717ecd; }
    body .scope-container button.green, body .scope-container .green.button {
      background-color: #4ab471; }
    body .scope-container button.orange, body .scope-container .orange.button {
      background-color: #f3ae4e; }
    body .scope-container button.pink, body .scope-container .pink.button {
      background-color: #d96383; }
    body .scope-container button.inverse, body .scope-container .inverse.button {
      background-color: transparent;
      border: 1px solid #2a94d6; }
      body .scope-container button.inverse.navy, body .scope-container .inverse.navy.button {
        border-color: #344a5f; }
      body .scope-container button.inverse.grey, body .scope-container .inverse.grey.button {
        border-color: #f0f1f2; }
      body .scope-container button.inverse.light-blue, body .scope-container .inverse.light-blue.button {
        border-color: #4eb1cb; }
      body .scope-container button.inverse.red, body .scope-container .inverse.red.button {
        border-color: #cf5c60; }
      body .scope-container button.inverse.purple, body .scope-container .inverse.purple.button {
        border-color: #717ecd; }
      body .scope-container button.inverse.green, body .scope-container .inverse.green.button {
        border-color: #4ab471; }
      body .scope-container button.inverse.orange, body .scope-container .inverse.orange.button {
        border-color: #f3ae4e; }
      body .scope-container button.inverse.pink, body .scope-container .inverse.pink.button {
        border-color: #d96383; }
      body .scope-container button.inverse.navy, body .scope-container .inverse.navy.button {
        color: #344a5f; }
      body .scope-container button.inverse.grey, body .scope-container .inverse.grey.button {
        color: #f0f1f2; }
      body .scope-container button.inverse.light-blue, body .scope-container .inverse.light-blue.button {
        color: #4eb1cb; }
      body .scope-container button.inverse.red, body .scope-container .inverse.red.button {
        color: #cf5c60; }
      body .scope-container button.inverse.purple, body .scope-container .inverse.purple.button {
        color: #717ecd; }
      body .scope-container button.inverse.green, body .scope-container .inverse.green.button {
        color: #4ab471; }
      body .scope-container button.inverse.orange, body .scope-container .inverse.orange.button {
        color: #f3ae4e; }
      body .scope-container button.inverse.pink, body .scope-container .inverse.pink.button {
        color: #d96383; }
  body .scope-container .status {
    display: inline-block;
    padding: 1px 4px;
    border-radius: 5px;
    font-size: 12px;
    background-color: #2a94d6;
    color: #fff;
    letter-spacing: 0.25px;
    margin-left: 5px; }


