$column-list: (
    (span-1, 8.333%),
    (span-2, 16.666%),
    (span-3, 25%),
    (span-4, 33.333%),
    (span-5, 41.666%),
    (span-6, 50%),
    (span-7, 58.333%),
    (span-8, 66.666%),
    (span-9, 75%),
    (span-10, 83.333%),
    (span-11, 91.666%)
);
$color-list: (
    (text-dark, #2e4052),
    (text-normal, #525354),
    (text-light, #adb8c2),
    (blue, #2a94d6),
    (light-blue, #4eb1cb),
    (navy, #344a5f),
    (grey, #f0f1f2),
    (light-grey, #f9fbfc),
    (white, #fff),
    (red, #cf5c60),
    (purple, #717ecd),
    (green, #4ab471),
    (orange, #f3ae4e),
    (pink, #d96383)
);
$adjustment-list: (
    (m, margin),
    (p, padding),
    (b, border)
);
$property-list: (
    (t, top),
    (r, right),
    (b, bottom),
    (l, left),
    (a, all)
);