@mixin animated($property: all, $duration: 250ms, $function: ease) {
    transition: $property $duration $function;
    transform: translateZ(0);
}
@mixin column-width($width, $affix) {
    &-#{$affix} {
        width: $width;
    }
}
@mixin column-margin($margin, $affix) {
    &-#{$affix} {
        margin-left: $margin;
    }
}
@mixin column-float-right-margin($margin, $affix) {
    &-#{$affix} {
        margin-left: 0;
        margin-right: $margin;
    }
}
@mixin breakpoint-columns($establish, $override: null) {
    .column {
        @if ($override) {
            @each $column in $column-list {
                &.#{nth($column, 1)}-#{$override} {
                    width: 100%;
                }
            }
        } @else {
            @each $column in $column-list {
                &.#{nth($column, 1)} {
                    width: 100%;
                }
            }
        }
        @each $column in $column-list {
            &.#{nth($column, 1)} {
                @include column-width(nth($column, 2), $establish);
            }
        }
        @if ($override) {
            @each $column in $column-list {
                &.margin-#{nth($column, 1)}-#{$override} {
                    margin-left: 0;
                }
            }
        } @else {
            @each $column in $column-list {
                &.margin-#{nth($column, 1)} {
                    margin-left: 0;
                }
            }
        }
        @each $column in $column-list {
            &.margin-#{nth($column, 1)} {
                @include column-margin(nth($column, 2), $establish);
            }
        }
        &.float-right {
            @if ($override) {
                @each $column in $column-list {
                    &.margin-#{nth($column, 1)}-#{$override} {
                        margin-right: 0;
                    }
                }
            } @else {
                @each $column in $column-list {
                    &.margin-#{nth($column, 1)} {
                        margin-right: 0;
                    }
                }
            }
            @each $column in $column-list {
                &.margin-#{nth($column, 1)} {
                    @include column-float-right-margin(nth($column, 2), $establish);
                }
            }
        }
    }
}
@mixin color-classes($property) {
    @each $color in $color-list {
        &.#{nth($color, 1)} {
            #{$property}: nth($color, 2);
        }
    }
}