.card {
    border: $card-border;
    border-radius: $round-corner-small;
    background-color: $white;
    > div, > section {
        padding: $card-padding;
    }
    .border-top {
        border-top: $card-border;
    }
    .border-bottom {
        border-bottom: $card-border;
    }
    .grey {
        background-color: $light-grey;
    }
}