h1 {
    font-size: 24px;
    font-weight: $bold;
    color: $white;
    padding-top: 2px;
}
h2 {
    @extend h1;
    font-weight: $semibold;
    color: $text-dark;
}
h3 {
    @extend h2;
    font-size: 16px;
    color: $text-light;
}
h4 {
    @extend h3;
    font-size: 13px;
    text-transform: uppercase;
}
h5 {
    @extend h4;
    text-transform: none;
}
strong {
    font-weight: $bold;
}
small {
    font-size: 80%;
    color: $text-light;
}
p {
    + *{
        margin-top: $type-spacing;
    }
}
ul, ol {
    margin-left: 32px;
    + * {
        margin-top: $type-spacing;
    }
}
hr {
    border: none;
    border-bottom: $card-border;
    + * {
        margin-top: $type-spacing;
    }
}
a, a:visited {
    color: $blue;
    text-decoration: none;
}
.text-dark {
    color: $text-dark;
}
.text-light {
    color: $text-light;
}