.avatar {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: $round-corner-small;
    margin-right: $type-spacing;
    overflow: hidden;
    margin-bottom: $type-spacing;
    &.large {
        width: 100px;
        height: 100px;
        border-radius: $round-corner-large;
    }
    + .title {
        display: inline-block;
        height: 45px;
        margin-bottom: $type-spacing;
        vertical-align: top;
    }
}
.icon-container {
    @extend .avatar;
    @include color-classes(background-color);
    text-align: center;
    .icon {
        display: block;
        font-size: 26px;
        padding: 10px;
    }
    &.large {
        .icon {
            font-size: 60px;
            padding: 20px;
        }
    }
}