$font-stack: 'ProximaNovaSoft', Calibri, 'Gill Sans', 'Gill Sans MT', Candara, Segoe, 'Segoe UI', Arial, sans-serif;
$regular: 300;
$medium: 500;
$semibold: 700;
$bold: 900;
$anchor-navy: #344a5f;
$primary-blue: #2a94d6;
$slate-grey: #f0f1f2;
$white: #fff;
$post: #4eb1cb;
$thanks: #cf5c60;
$account: #717ecd;
$task: #4ab471;
$opportunity: #f3ae4e;
$event: #d96383;
$container-width: 960px;
$col-padding: 10px;
$tablet-landscape-breakpoint: 1024px;
$tablet-portrait-breakpoint: 768px;
$phone-breakpoint: 480px;
$tablet-landscape-affix: md;
$tablet-portrait-affix: sm;
$phone-affix: xs;