$font-stack: 'ProximaNovaSoft', Calibri, 'Gill Sans', 'Gill Sans MT', Candara, Segoe, 'Segoe UI', Arial, sans-serif !default;
$font-size: 14px !default;
$line-height: 20px !default;
$regular: 300 !default;
$medium: 500 !default;
$semibold: 700 !default;
$bold: 900 !default;
$text-dark: #3c3d3e !default;
$text-normal: #686c70 !default;
$text-light: #adb8c2 !default;
$text-link: #006eb3 !default;
$background-color: #f0f1f2 !default;
$blue: #2a94d6 !default;
$light-blue: #4eb1cb !default;
$navy: #34495e !default;
$grey: #f0f1f2 !default;
$light-grey: #fafafa !default;
$white: #fff !default;
$red: #cf5c60 !default;
$purple: #717ecd !default;
$green: #4ab471 !default;
$orange: #f3ae4e !default;
$pink: #d96383 !default;
$container-width: 992px !default; // Allows for 16px padding to the left and right on mobile ((1024px - 992px) / 2)
$type-spacing: 16px !default;
$grid-padding: 8px !default;
$card-padding: 16px !default;
$card-border: 1px solid #dfe0e1 !default;
$card-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) !default;
$round-corner-small: 5px !default;
$round-corner-large: 8px !default;
$tablet-landscape-breakpoint: 1024px !default;
$tablet-portrait-breakpoint: 768px !default;
$phone-breakpoint: 480px !default;
$tablet-landscape-affix: tl !default;
$tablet-portrait-affix: tp !default;
$phone-affix: p !default;
$adjustment-max: 16 !default;