$font-stack: 'ProximaNovaSoft', Calibri, 'Gill Sans', 'Gill Sans MT', Candara, Segoe, 'Segoe UI', Arial, sans-serif;
$font-size: 15px;
$line-height: 20px;
$regular: 300;
$medium: 500;
$semibold: 700;
$bold: 900;
$text-dark: #3c3d3e;
$text-normal: #686c70;
$text-light: #adb8c2;
$text-link: #006eb3;
$background-color: #f0f1f2;
$blue: #2a94d6;
$light-blue: #4eb1cb;
$navy: #34495e;
$grey: #f0f1f2;
$light-grey: #fafafa;
$white: #fff;
$red: #cf5c60;
$purple: #717ecd;
$green: #4ab471;
$orange: #f3ae4e;
$pink: #d96383;
$container-width: 992px; // Allows for 16px padding to the left and right on mobile ((1024px - 992px) / 2)
$grid-spacing: 8px;
$type-spacing: 16px;
$card-padding: 16px;
$card-border: 1px solid #dfe0e1;
$card-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
$round-corner-small: 5px;
$round-corner-large: 8px;
$tablet-landscape-breakpoint: 1024px;
$tablet-portrait-breakpoint: 768px;
$phone-breakpoint: 480px;
$tablet-landscape-affix: tl;
$tablet-portrait-affix: tp;
$phone-affix: p;
$adjustment-max: 32;