.hero {
    background-color: $navy;
    text-align: center;
    color: $white;
    padding: 100px 0;
    position: relative;
    .container {
        position: relative;
        z-index: 9998;
    }
    h1, h2, h3, h4, h5 {
        color: $white;
        margin: 0 auto;
        width: 60%;
    }
    p {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,0.1) 100%);
    }
}
.card {
    border: $card-border;
    border-radius: $round-corner-small;
    background-color: $white;
    overflow: hidden;
    > div, > section {
        padding: $card-padding;
        &.has-buttons {
            min-height: 76px;
            h2 {
                margin-top: $type-spacing - 2;
                @media only screen and (max-width: $tablet-landscape-breakpoint) {
                    margin-top: 0;
                }
                &.has-subheader {
                    margin-top: 0;
                    + h3 {
                        margin-top: 0;
                    }
                }
            }
            &.mobile-header {
                @media only screen and (max-width: $tablet-landscape-breakpoint) {
                    min-height: 62px;
                }
            }
        }
    }
    .border-top {
        border-top: $card-border;
    }
    .border-bottom {
        border-bottom: $card-border;
    }
    .grey {
        background-color: $light-grey;
    }
    @media only screen and (max-width: $tablet-landscape-breakpoint) {
        &.fullscreen {
            border-radius: 0;
            margin-top: 0;
            margin-right: -($tablet-landscape-breakpoint - $container-width) / 2;
            margin-bottom: 0;
            margin-left: -($tablet-landscape-breakpoint - $container-width) / 2;
            + .fullscreen {
                border-top: none;
            }
        }
    }
}
ul.card {
    margin-left: 0;
    li {
        padding: $card-padding;
        border-top: $card-border;
        a, a:visited {
            font-weight: $semibold;
            display: block;
            position: relative;
            padding: $card-padding;
            margin: -$card-padding;
            &:after {
                font-family: 'FontAwesome';
                content: '\f054';
                color: $text-light;
                display: inline-block;
                position: absolute;
                top: 1px;
                right: 0;
                padding: $card-padding;
            }
            &:hover {
                color: $white;
                background-color: $blue;
            }
        }
        &:first-child {
            border-top: none;
        }
    }
}
.corner-buttons {
    float: right;
    @media only screen and (max-width: $tablet-landscape-breakpoint) {
        float: none;
        button {
            width: 100%;
            margin-bottom: $type-spacing;
        }
    }
}
.mobile-header {
    position: relative;
    .corner-buttons {
        @extend .clearfix;
    }
    @media only screen and (max-width: $tablet-landscape-breakpoint) {
        .corner-buttons {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            button {
                display: inline-block;
                width: auto;
                margin: $card-padding;
                font-size: 13px;
                padding: 4px 10px;
                background-color: $grey;
                color: $text-normal;
                &.mobile-left {
                    float: left;
                }
                &.mobile-right {
                    float: right;
                }
            }
        }
        h2 {
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            &.margin-top {
                margin-top: 0;
            }
        }
    }
}
.reveal {
    @include animated(all, 750ms);
    opacity: 0;
    position: relative;
    top: 100px;
    &.visible {
        opacity: 1;
        top: 0;
    }
}
.modal {
    @include animated;
    @extend .card;
    @extend .vertical-align;
    width: $container-width - 100px;
    display: none;
    opacity: 0;
    margin-top: 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    box-shadow: $card-shadow;
    &.visible {
        opacity: 1;
        margin-top: -100px;
    }
    .close-modal {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px 20px 14px;
        &:focus {
            outline: none;
        }
    }
    @media only screen and (max-width: $tablet-landscape-breakpoint) {
        width: 80%;
    }
}
#modal-background {
    @include animated;
    display: none;
    opacity: 0;
    background-color: rgba($text-dark, 0.9);
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &.visible {
        opacity: 1;
    }
}
table {
    width: 100%;
    text-align: center;
    td {
        padding: $card-padding;
        white-space: nowrap;
    }
    thead {
        background-color: $blue;
        color: $white;
        @include color-classes(background-color);
    }
    tbody {
        tr:nth-child(even) {
            background-color: $grey;
        }
    }
}
.table-container {
    overflow: auto;
}
footer {
    @extend .hero;
    padding: ($type-spacing * 2) 0;
    &:after {
        display: none;
    }
}