.hero {
    background-color: $navy;
    text-align: center;
    color: $white;
    padding: 100px 0;
    position: relative;
    .container {
        position: relative;
        z-index: 9998;
    }
    h1, h2, h3, h4, h5 {
        color: $white;
        margin-right: auto;
        margin-left: auto;
        width: 60%;
    }
    p, hr {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.1) 100%);
    }
}
.hero-footer, footer {
    @extend .hero;
    padding: ($type-spacing * 2) 0;
    &:after {
        display: none;
    }
}
.card {
    border: $card-border;
    border-radius: $round-corner-small;
    background-color: $white;
    overflow: hidden;
    @include type-margin;
    &.transparent {
        background-color: transparent;
    }
    > div, > section {
        padding: $card-padding;
        &.has-buttons {
            min-height: 77px;
            h2 {
                margin-top: $type-spacing - ($type-spacing / 2);
                @media only screen and (max-width: $tablet-landscape-breakpoint) {
                    margin-top: 0;
                }
                &.has-subhead {
                    margin-top: 2px;
                    + h3 {
                        margin-top: 0;
                    }
                }
            }
            &.mobile-header {
                @media only screen and (max-width: $tablet-landscape-breakpoint) {
                    min-height: 66px;
                }
            }
        }
        &.no-padding {
            padding: 0;
        }
        &.dismissible {
            padding-right: 48px;
        }
    }
    .border-top {
        border-top: $card-border;
    }
    .border-bottom {
        border-bottom: $card-border;
    }
    .header {
        background-color: $light-grey;
    }
    .padded {
        padding: $card-padding;
    }
    @media only screen and (max-width: $tablet-landscape-breakpoint) {
        &.mobile-full-width {
            border-radius: 0;
            margin-top: 0;
            margin-right: -($tablet-landscape-breakpoint - $container-width) / 2;
            margin-bottom: 0;
            margin-left: -($tablet-landscape-breakpoint - $container-width) / 2;
            + .mobile-full-width {
                border-top: none;
            }
        }
    }
}
ul.card {
    margin-left: 0;
    li {
        padding: $card-padding;
        border-top: $card-border;
        a, a:visited {
            font-weight: $semibold;
            display: block;
            line-height: 0;
            position: relative;
            padding: $card-padding;
            margin: -$card-padding;
            &:after {
                font-family: 'FontAwesome';
                content: '\f054';
                color: $text-light;
                display: inline-block;
                line-height: 20px;
                position: absolute;
                top: 1px;
                right: 0;
                padding: $card-padding;
            }
            &:hover {
                color: $white;
                background-color: $blue;
            }
        }
        &:first-child {
            border-top: none;
        }
    }
}
.dialog {
    border: $card-border;
    border-radius: $round-corner-small;
    background-color: $white;
    overflow: hidden;
    display: table;
    width: 100%;
    @include type-margin;
    &.transparent {
        background-color: transparent;
    }
    > div, > section {
        padding: $card-padding;
        &.no-padding {
            padding: 0;
        }
    }
    .left {
        display: table-cell;
        vertical-align: middle;
        padding: 0;
        color: $white;
        width: $type-spacing / 2;
        @include color-classes(background-color);
        > .icon {
            padding: $card-padding;
            font-size: 20px;
            display: block;
        }
        &.image {
            background-size: cover;
            background-position: center center;
            width: 25%;
        }
    }
    .right {
        display: table-cell;    
        vertical-align: middle;
    }
}
.corner-buttons {
    float: right;
    @media only screen and (max-width: $tablet-landscape-breakpoint) {
        float: none;
        button {
            width: 100%;
            margin-bottom: $type-spacing;
        }
    }
}
.mobile-header {
    position: relative;
    .corner-buttons {
        @extend .clearfix;
        .mobile-group-left, .mobile-group-right {
            display: inline-block;
            margin-right: $type-spacing;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    @media only screen and (max-width: $tablet-landscape-breakpoint) {
        .corner-buttons {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            button {
                display: inline-block;
                width: auto;
                margin: $card-padding;
                font-size: 12px;
                line-height: 21px;
                padding: 6px 12px;
                background-color: $grey !important;
                color: $text-normal !important;
                border-color: transparent !important;
            }
            .mobile-group-left {
                float: left;
            }
            .mobile-group-right {
                float: right;
            }
        }
        h2 {
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            &.has-subhead {
                line-height: 16px;
            }
        }
        h3 {
            font-size: 14px;
            line-height: 14px;
            text-align: center;
        }
    }
}
.reveal {
    @include animated(all, 750ms);
    opacity: 0;
    position: relative;
    top: 100px;
    &.visible {
        opacity: 1;
        top: 0;
    }
}
table {
    width: 100%;
    td {
        padding: ($card-padding / 2) $card-padding;
        white-space: nowrap;
    }
    thead {
        background-color: $blue;
        color: $white;
        @include color-classes(background-color);
    }
    tbody {
        tr:nth-child(even) {
            background-color: $grey;
        }
    }
    &.list {
        border-collapse: collapse;
        tr {
            border-top: $card-border;
            &:first-child {
                border-top: none;
            }
        }
        thead {
            background-color: initial;
            color: $text-dark;
            font-weight: $semibold;
        }
        tbody {
            border-top: $card-border;
            border-width: 3px;
            tr:nth-child(even) {
                background-color: initial;
            }
        }
    }
    &.align-center {
        text-align: center;
    }
    @include type-margin;
}
.table-container {
    overflow: auto;
    @include type-margin;
}
.mobile-only {
    @media only screen and (min-width: $tablet-landscape-breakpoint + 1) {
        display: none;
    }
}
.desktop-only {
    @media only screen and (max-width: $tablet-landscape-breakpoint) {
        display: none;
    }
}
.background-color {
    @include background-color-classes;
}