h1 {
    font-size: 32px;
    line-height: 32px;
    font-weight: $bold;
    color: $text-dark;
    padding-top: 2px;
    margin-bottom: $type-spacing;
    + p {
        margin-top: $type-spacing;
    }
}
h2 {
    @extend h1;
    font-size: 24px;
    line-height: inherit;
    font-weight: $semibold;
    margin-bottom: 0;
}
h3 {
    @extend h2;
    font-size: 16px;
    color: $text-light;
}
h4 {
    @extend h3;
    font-size: 13px;
    text-transform: uppercase;
}
h5 {
    @extend h4;
    text-transform: none;
}
strong {
    font-weight: $bold;
}
small {
    font-size: 80%;
    color: $text-light;
}
p {
    + *{
        margin-top: $type-spacing;
    }
}
ul, ol {
    margin-left: 32px;
    + * {
        margin-top: $type-spacing;
    }
}
hr {
    border: none;
    border-bottom: $card-border;
    + * {
        margin-top: $type-spacing;
    }
}
a, a:visited {
    color: $blue;
    text-decoration: none;
    @include color-classes(color);
}
code {
    display: inline-block;
    padding: 0 6px;
    border-radius: $round-corner-small;
    background-color: rgba($text-normal, 0.1);
    font-size: 12px;
    line-height: 20px;
}
pre {
    @extend code;
    display: block;
    padding: $card-padding / 2;
}
.text-dark {
    color: $text-dark;
}
.text-normal {
    color: $text-normal;
}
.text-light {
    color: $text-light;
}

.icon {
    margin-right: $type-spacing / 2;
    &.im { // IcoMoon
        position: relative;
        top: 2px;
    }
    &.no-margin {
        margin-right: 0;
    }
    &.margin-left {
        margin-right: 0;
        margin-left: $type-spacing / 2;
    }
}