h1 {
    font-size: 32px;
    line-height: 32px;
    font-weight: $bold;
    color: $text-dark;
    padding-top: 2px;
    + * {
        margin-top: $type-spacing;
    }
}
h2 {
    @extend h1;
    font-size: 24px;
    line-height: inherit;
    font-weight: $semibold;
}
h3 {
    font-size: 16px;
    line-height: inherit;
    font-weight: $semibold;
    color: $text-light;
}
h4 {
    font-size: 13px;
    line-height: inherit;
    font-weight: $semibold;
    color: $text-light;
    text-transform: uppercase;
}
h5 {
    font-size: 13px;
    line-height: inherit;
    font-weight: $semibold;
    color: $text-light;
}
strong {
    font-weight: $bold;
}
small {
    font-size: 80%;
    color: $text-light;
}
p {
    @include type-margin;
}
ul, ol {
    margin-left: 32px;
    @include type-margin;
}
hr {
    border: none;
    border-bottom: $card-border;
    @include type-margin;
}
a, a:visited {
    color: $blue;
    text-decoration: none;
    @include color-classes(color);
}
code {
    display: inline-block;
    padding: 0 6px;
    border-radius: $round-corner-small;
    background-color: rgba($text-normal, 0.1);
    font-size: 12px;
    line-height: 20px;
}
pre {
    @extend code;
    display: block;
    padding: $card-padding / 2;
    overflow: auto;
}
.text-dark {
    color: $text-dark;
}
.text-normal {
    color: $text-normal;
}
.text-light {
    color: $text-light;
}
.icon {
    &.im { // IcoMoon
        position: relative;
        top: 2px;
    }
    &.margin-right {
        margin-right: $type-spacing / 2;
    }
    &.margin-left {
        margin-left: $type-spacing / 2;
    }
}
.status {
    display: inline-block;
    padding: 0 6px;
    border-radius: $round-corner-small;
    font-size: 10px;
    font-weight: $bold;
    vertical-align: bottom;
    background-color: $blue;
    color: $white;
    letter-spacing: 0.25px;
    margin-left: $type-spacing / 2;
    @include color-classes(background-color);
    a, a:visited {
        text-decoration: underline;
        color: $white;
    }
}